.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 7px 0;
  border-bottom: 2px solid rgba(#333, 0.2);
  margin-bottom: 30px;
  .rightHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 15px;
  }
  .logo,
  .cart {
    font-size: 1.2rem;
    color: var(--secondary);
    font-weight: 700;
    cursor: pointer;
  }
  .cart {
    font-size: 1.5rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    text-align: center;
    span {
      font-size: .7rem;
    }
    svg {
      margin: 0 auto;
    }
    .totalCount {
      background-color: #ff2626;
      color: #fff;
      width: 1.2rem;
      height: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: .7rem;
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      pointer-events: none;
    }
  }
}
